{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/all",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:security/recommended",
    "prettier/@typescript-eslint",
    "prettier/react",
    "prettier/standard"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest",
    "prettier",
    "react-hooks",
    "security"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "no-use-before-define": "off",
    "react/no-unused-prop-types": "off",
    "react/prop-types": "off"
  }
}
